* {
    margin: 0;
    padding: 0;
}

html, body {
    color: #050505;
    background-color: #ededed;
}

body {
    margin: 0 auto;
    width: 780px;
    min-height: 500px;
    font-size: 14px;
    position: relative;

    font-size: 62.5%;
    font-family: Tahoma, sans-serif;
}

a {
    color: #0000ff;
}

a:hover, a:focus {
    text-decoration: none;
}

a img {
    border: 0;
}

p, ul {
    margin-bottom: 1.2em;
}

ul {
    margin-left: 2em;
}

header {
    padding-top: 10px;
    
    font-family: Tahoma, sans-serif;
    font-weight: none;
    /*height: 50px;*/
    text-align: right;
    
    margin-bottom: 0.5em;
}

header h1 {
    font-size: 24px;
    font-weight: normal;
    padding-right: 2em;
}

header h1 span {
    color: #090909;
}

header h2 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 11px;
}

nav.mainmenu {
    font-family: Tahoma, sans-serif;
    text-align: right;
    margin-right: 12px;
}

nav.mainmenu a,
nav.mainmenu a:visited {
    text-decoration: none;
    color: #ff00ff;
    font-size: 2em;
}

nav.mainmenu a.selected {
    color: #888;
}

nav.mainmenu a:hover {
    color: #ff0000;
}

nav.mainmenu ul {
    margin-left:0;
    padding-right: 2em;
}

nav.mainmenu ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 1.5em;
    vertical-align: middle;
}

aside {
    width: 700px;
    text-align: right;
    font-size: 1em;
}

nav.mainmenu, aside {
    /* to line up with the header */
    padding-right: 5px;
}

#content {
    font-size: 1.4em;
    line-height: 1.6em;
    margin-left: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 670px;
    padding-top: 0.5em;
    padding-bottom: 50px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #555555;
}

#content h1 {
    color: #555555;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.1em;
    font-family: Tahoma, sans-serif;
    margin-bottom: 12px;
}

#content h2 {
    font-weight: bold;
    font-size: 1.2em;
    font-family: Tahoma, sans-serif;
    margin-bottom: 0.3em;
}

#content code {
    display: block;
    font-family: 'Courier New';
    font-size: 1.2em;
    color: #eee;
    background-color: #222;
    padding: 5px 10px;
    margin-bottom: 1.33em;
    border-top: 1px solid #444;
    border-right: 1px solid #333;
    border-bottom: 1px solid #222;
    border-left: 1px solid #111;
}

ul.tags{
    display: inline-block;
    text-align: right;
    margin-bottom: 0.5em;
}

ul.tags li{
    list-style-type: none;
    display: inline;
}

ul.tags li a{
    color: #999;
    text-decoration: none;
}

.sociallinks {
    color: #999;
    display: inline-block;
    padding-left: 0.5em;
}

nav.post_nav{
    background-color: #efefef;
    margin-left: 0;
    font-size: 12px;
    padding: 6px;
    margin-bottom: 12px;
    -moz-box-shadow: 0px 2px 4px #ccc; /* FF3.5+ */
    -webkit-box-shadow: 0px 2px 4px #ccc; /* Saf3.0+, Chrome */
    box-shadow: 0px 2px 4px #ccc; /* Opera 10.5, IE 9.0 */
    filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc')"; /* IE8 */
    width: 250px;
    float: right;
    text-align: center;
}

a.backlink{
    margin-bottom: 12px;
}

a.backlink:before{
    content: '\2190';
}

a.prev:before{
    content: '\00AB';
}

a.next:after{
    content: '\00BB';
}

a.backlink:hover, a.prev:hover, a.next:hover{
    color: #222;
}

.post_nav a.disabled{
    color: #ccc;
}

.post_nav a{
    color: #666;
    text-decoration: none;
    text-shadow: 0px 2px 0px #fff;
}

.post_nav div{
    display: block;
    margin-left: 4px;
}

#facebook_like{
    margin-top: 1px;
}

.post time{
    display: inline-block;
    color: #999;
}

.posttitle{
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
}

.postheader {
    padding-top: 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.posttitle a {
    text-decoration: none;
}

.listing {
    margin-left: 0;
}

.listing time{
    display:block;
    font-size: 10px;
}

.listing li{
    list-style-type: none;
}

.excerpt p {
    margin-bottom: 6px;
}

.excerpttitle a {
    text-decoration: none;
}

.excerpttitle a:hover {
    text-decoration: underline;
}

.blog_excerpt {
    padding: 6px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #bdbdbd;
}

ul.cloud {
    padding: 6px;
    background-color: #FFFFFF;
    margin-left: 0;
    margin-right: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #bdbdbd;
}

ul.cloud li {
    list-style-type: none;
    display: inline-block;
}

ul.cloud li a {
    text-decoration: none;
}

ul.cloud li a:hover {
    text-decoration: underline;
}

table.publications {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
}

table.publications td {
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
}

.g-plusone {
    display: inline-block;
}

.fb-like {
    display: inline-block;
}

.tracklist {
    width: 100%;
    background-color: #FFFFFF;
}

.tracklist th {
    background-color: #DDDDDD;
    text-align: left;
    padding-left: 0.5em;
}

.tracklist td {
    padding-left: 0.5em;
    min-width: 120px;
}

.picturelist li {
    background-color: #FFFFFF;
    list-style-type: none;
    width: 30%;
    border-style: solid;
    border-color: #AAAAAA;
    border-width: 1px;
    display: inline-block;
    margin-bottom: 0.2em;
}

.a-download {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url('../img/icon-download.png');
}

.a-lyrics {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url('../img/icon-lyrics.png');
}

.a-score {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url('../img/icon-score.png');
}

img.left {
    float: left;
    margin-right: 10px;
}

.listing article {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
}

img.side {
    float: right;
    margin-left: 15px;
}
