a.backlink:before{
    content: '\2190';
}

a.prev:before{
    content: '\00AB';
}

a.next:after{
    content: '\00BB';
}

#facebook_like{
    margin-top: 1px;
}

.post time{
    display: inline-block;
    color: #999;
}

.listing {
    margin-left: 0;
}

.listing time{
    display:block;
    font-size: 10px;
}

.listing li{
    list-style-type: none;
}

.blog_excerpt {
    padding: 6px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #bdbdbd;
}

ul.cloud {
    margin-left: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #bdbdbd;
}

ul.cloud li {
    list-style-type: none;
    display: inline-block;
}

table.publications {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
}

table.publications td {
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
}

.g-plusone {
    display: inline-block;
}

.fb-like {
    display: inline-block;
}

.tracklist {
    width: 100%;
    background-color: #FFFFFF;
}

.tracklist th {
    background-color: #DDDDDD;
    text-align: left;
}


.picturelist li {
    background-color: #FFFFFF;
    list-style-type: none;
    width: 30%;
    border-style: solid;
    border-color: #AAAAAA;
    border-width: 1px;
    display: inline-block;
    margin-bottom: 0.2em;
}

.a-download {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url('../img/icon-download.png');
}

.a-lyrics {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url('../img/icon-lyrics.png');
}

.a-score {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url('../img/icon-score.png');
}

img.left {
    float: left;
    margin-right: 10px;
}

.listing article {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
}
