<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>David Sánchez Crespillo {{ resource.meta.title_ending }}</title>
        <meta name="description" content="David Sánchez Crespillo - Personal web site" />
        <meta property="og:title" content="David Sánchez Crespillo{{ resource.meta.title_ending }}" />
        <meta property="og:description" content="David Sánchez Crespillo{{ resource.meta.title_ending }}" />
        <meta property="og:image" content="http://sanchezcrespillo.net{{ media_url('img/blanque.png') }}" />
        {% from "macros.j2" import render_keywords with context %}
        {{ render_keywords(resource) }}
        <link rel="stylesheet" href="{{ media_url('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ media_url('css/style.css') }}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ content_url('blog/atom.xml')}}">
        <script type="text/javascript" src="{{ media_url('js/modernizr.custom.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
    </head>
    <body>
	  <div class="container-fluid">
        <header>
            <h1>David Sánchez Crespillo</h1>
        </header>
        <div class="navbar">
		<div class="navbar-inner">
	    <ul class="nav nav-pills">
        {% from "macros.j2" import render_main_menu with context %}
        {{ render_main_menu() }}
        {% from "macros.j2" import render_social_links with context %}
        {{ render_social_links() }}
        </ul>
        </div>
        </div>
        <article id="content">
            {% filter markdown|typogrify -%}
            {% block content %}{% endblock %}
            {%- endfilter %}
        </article>
        <div class="well well-small pull-right">
            <p>Created by <a href="{{ author.url}}">{{ author.name}}</a>
            using <a href="{{ project.url }}">{{ project.name }}</a>.
            <a href="http://validator.w3.org/check?uri=referer">HTML5</a>
            </p>
        </div>
      </div>
    </body>
</html>
