<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ resource.meta.title }} - David Sánchez Crespillo{% endblock %}</title>
        <meta name="description" content="David Sánchez Crespillo - Personal web site" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="{{ resource.meta.title }}" />
        <meta property="og:description" content="{{ resource.meta.title }}" />
        <meta property="og:image" content="http://sanchezcrespillo.info{{ media_url('img/blanque.png') }}" />
        {% from "macros.j2" import render_keywords with context %}
        {{ render_keywords(resource) }}
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ media_url('css/style.css') }}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ content_url('blog/atom.xml')}}">
        <!--<script src="{{ media_url('js/modernizr.custom.js') }}"></script>-->
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
    </head>
    <body>
    <div class="container">

      <div class="row">
        <div class="col-md-1">
        <a href="{{ content_url('index.html') }}" title="Home"><img src="{{ media_url('img/blanque.png') }}" alt="" /></a>
        </div>
        <div class="col-md-6">
          <span class="header-title"><a href="{{ content_url('index.html') }}" title="Home">David Sánchez Crespillo</a></span>
          <div class="top-space">
            {% from "macros.j2" import render_social_links with context %}
            {{ render_social_links() }}
          </div>        </div>
        <div class="col-md-5">
        {% from "macros.j2" import render_main_menu with context %}
        {{ render_main_menu() }}
        </div>
      </div>

      <div class="row top-space">
        <div class="col-xs-12">

        </div>
      </div>
      <hr>

      <div>
            {% filter markdown|typogrify -%}
            {% block content %}{% endblock %}
            {%- endfilter %}
      </div>

      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div>
            {% from "macros.j2" import render_social_links with context %}
            {{ render_social_links() }}
          </div>
        </div>
      </div>

    </div>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
