{% extends "base.j2" %}
{% block content -%}
<article class="post">
<div class="">
<header class="postheader">
<ul class="nav nav-pills">
  <li>
    <a href="https://plus.google.com/share?url=http%3a%2f%2fsanchezcrespillo.info{{ content_url(resource.url) }}">
      <img src="{{ media_url('img/googleplus_32.png') }}" alt="Share on Google+" />
    </a>
  </li>
  <li>
    <a href="https://twitter.com/intent/tweet?text=David%20Sánchez%20Crespillo&url=http://sanchezcrespillo.info{{ content_url(resource.url) }}">
      <img src="{{ media_url('img/twitter_32.png') }}" alt="Share on Twitter" />
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://sanchezcrespillo.info{{ content_url(resource.url) }}">
      <img src="{{ media_url('img/facebook_32.png') }}" alt="Share on Facebook" />
    </a>
  </li>
  {% if resource.meta.tags %}
  {% for tag in resource.meta.tags %}
  <li class="">
      <a class="small" href="{{ content_url('tags/'~tag~'.html') }}">
        {{ tag }}
      </a>
  </li>
  {% endfor %}
  {% endif %}
</ul>
  <h1>
  <a href="{{ content_url(resource.url) }}">
        {{ resource.meta.title }}
  </a>
  <small>
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    {{ resource.meta.created.strftime('%a, %d %b %Y') }}
    </time>
  </small>
  </h1>

</header>

<div class="postdetails">
<div class="well well-sm">
{{ resource.meta.description|markdown|typogrify }}
</div>

{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}

<hr/>
<div class="row">
<div class="col-md-12">
<ul class="nav nav-pills">
  <li>
    <a href="{{ content_url( resource.meta.rss ) }}"><img src="{{ media_url('img/feed.png')}}" alt="RSS" height="16" width="16"/></a>
  </li>
  <li>
    <a class="prev{{' disabled' if not resource.next_by_time }}"
      title="{{ resource.next_by_time.meta.title }} - {{ resource.next_by_time.meta.created }}"
      {% if resource.next_by_time %}
      href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>
      Earlier
    </a>
  </li>
  <li>
    <a class="next{{' disabled' if not resource.prev_by_time }}"
      title="{{ resource.prev_by_time.meta.title }} - {{ resource.prev_by_time.meta.created }}"
      {% if resource.prev_by_time %}
      href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>
      Later
    </a> 
  </li>
</ul>
</div>
</div>
</div>
</div>
</article>
{%- endblock %} 
