{% extends "base.j2" %}
{% block content -%}
<script type="text/javascript">
 (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<article class="post">
<div class="">
<header class="postheader">
<ul class="nav nav-pills">
  <li>
    <div class="g-plusone" data-annotation="none"></div>
  </li>
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="350" data-show-faces="false"></div>
  </li>
  {% if resource.meta.tags %}
  {% for tag in resource.meta.tags %}
  <li class="">
      <a class="small" href="{{ content_url('tags/'~tag~'.html') }}">
        {{ tag }}
      </a>
  </li>
  {% endfor %}
  {% endif %}
</ul>
  <h1>
  <a href="{{ content_url(resource.url) }}">
        {{ resource.meta.title }}
  </a>
  <small>
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    {{ resource.meta.created.strftime('%a, %d %b %Y') }}
    </time>
  </small>
  </h1>

</header>

<div class="postdetails">
<div class="well well-default">
{{ resource.meta.description|markdown|typogrify }}
</div>

{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}

<hr/>
<div class="row">
<div class="col-md-12">
<ul class="nav nav-pills">
  <li>
    <a href="{{ content_url( resource.meta.rss ) }}"><img src="{{ media_url('img/feed.png')}}" alt="RSS" height="16" width="16"/></a>
  </li>
  <li>
    <a class="prev{{' disabled' if not resource.next_by_time }}"
      title="{{ resource.next_by_time.meta.title }} - {{ resource.next_by_time.meta.created }}"
      {% if resource.next_by_time %}
      href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>
      Earlier
    </a>
  </li>
  <li>
    <a class="next{{' disabled' if not resource.prev_by_time }}"
      title="{{ resource.prev_by_time.meta.title }} - {{ resource.prev_by_time.meta.created }}"
      {% if resource.prev_by_time %}
      href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>
      Later
    </a> 
  </li>
</ul>
</div>
</div>
</div>
</div>
</article>
{%- endblock %} 
