{% macro render_tile(span, class, title, url, icon) -%}
<div class="col-md-{{ span }} tile tile-{{ class }}">
  {% if icon %}
  <div class="tile-icon"><a href="{{ url }}" title="{{ title }}"><img src="media/img/{{ icon }}" /></a></div>
  {% endif %}
  <div class="tile-title"><a href="{{ url }}">{{ title }}</a></div>
</div>
{%- endmacro %}

{% macro render_main_menu() -%}
<ul class="nav nav-pills">
{% for menu_item in menu -%}
    <li class="{% if menu_item.url == resource.url %}active{% endif %}{% if menu_item.items %}dropdown{% endif %}">
    <a href="{{ content_url(menu_item.url) }}" {% if menu_item.items %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
    {% if menu_item.icon %}<span class="glyphicon glyphicon-{{ menu_item.icon }}"></span>{% endif %} 
    {{ menu_item.title }}{% if menu_item.items %}<span class="caret"></span>{% endif %}
    </a>
    {% if menu_item.items %}
    <ul class="dropdown-menu" role="menu">
    {% for subitem in menu_item.items %}
    <li>
    <a href="{{ content_url(subitem.url) }}">
    {{ subitem.title }}
    </a>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    </li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_social_links() -%}
<ul class="list-inline">
{% for social_item in social -%}
<li>
<a href="{{ social_item.url }}" title="{{ social_item.title }}">
<img src="{{ media_url(social_item.image) }}" title="{{ social_item.title }}"  alt="{{ social_item.title }}" height="32" width="32" />
</a>
</li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_tags(resroot) %}
{% set cloud = [] %}
{% for res in resroot.node.walk_resources_sorted_by_time() %}
{% if res.meta.tags %}
{% for tag in res.meta.tags %}
{% if not tag in cloud %}
{% do cloud.append(tag) %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

<ul class="nav nav-pills">
{% for word in cloud %}
<li class="active">
<a class="small" href="{{ content_url('tags/'~word~'.html') }}">
{{ word }}
</a>
</li>
{% endfor %}
</ul>

{% endmacro %}

{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
<h4>
<a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
<small>
<time class="text-muted" datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
</small>
</h4>
<div class="excerpt">
{{ post.excerpt|markdown|typogrify }}
</div>
</article>
{% endmacro %}

{% macro render_keywords(res) %}
{% if res.meta.keywords %}
<meta name="keywords" content="{{ res.meta.keywords }}" />
{% endif %}
{% endmacro %}

{% macro render_audioplayer(res) %}
{% if res.meta.tracklist %}
<table class="tracklist">
<tr><th>Title</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr>
{% for item in res.meta.tracklist %}
<tr>
<td><a href="media/audio/{{ item.url }}.mp3">{{ item.title }}</a></td>
<td>{% if item.description %} {{ item.description }} {% endif %}</td>
<td><audio title="{{ item.title }}" controls="controls" preload="none">
<source src="media/audio/{{ item.url }}.mp3" type="audio/mpeg"/>
<source src="media/audio/{{ item.url }}.ogg" type="audio/ogg"/>
<a href="media/audio/{{ item.url }}.mp3">{{ item.title }}</a>
</audio></td>
<td>
{% if item.lyrics %}
<a class="a-lyrics" href="media/audio/{{ item.lyrics }}" title="Lyrics"></a>
{% endif %}
</td>
<td>
{% if item.score %}
<a class="a-score" href="media/audio/{{ item.score }}" title="Score"></a>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endmacro %}
