{% extends "base.j2" %}

{% from "macros.j2" import render_excerpt with context %}

{% block content %}
<section class="archives">
<h1 class="tag title">{{ tag.name }}</h1>
<ul class="list-unstyled">
{% for resource in walker() -%}
<li>
    {{ render_excerpt(resource) }}
</li>
<hr />
{%- endfor %}
</ul>
</section>
{% endblock %}
